@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base resets */
html, body {
  height: 100%;
  margin: 0;
  background-color: #010102 !important;
  color: white;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
  overflow-x: hidden;
}

.material-icons {
  font-family: 'Material Icons';
  font-size: 24px;
  display: inline-block;
  line-height: 1;
}

